@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

.navbar {
  height: 4rem;
  @apply fixed top-0 right-0 left-0 z-10 glass;
}

.app-body {
  margin-top: 5rem;
}
